<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ChatNest</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ChatNest</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>App uses a camera to take and upload pictures to set profile picture.</string>
	<key>NSContactsUsageDescription</key>
	<string>ChatNest uses your contacts to help you find and connect with friends who are already using ChatNest. If you choose to sync, your contacts will be securely uploaded to our server for contact matching.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>ChatNest uses your location to help you share your location in chat and discover nearby users and events.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App use photos to upload pictures to create events and offers.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App use Microphone to record video off events and offers.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Give access to your audio files to upload</string>
	<key>CFBundleURLTypes</key>
	<array>
	  <dict>
	    <key>CFBundleTypeRole</key>
	    <string>Editor</string>
	    <key>CFBundleURLName</key>
	    <string>com.siddhi.chauhan.cochat</string>
	    <key>CFBundleURLSchemes</key>
	    <array>
	      <string>com.siddhi.chauhan.cochat</string>
	    </array>
	  </dict>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
    	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
